@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html{
    overscroll-behavior: none;
}

body{
    overscroll-behavior: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #E3F2FD;
  
}

.wrapper{
  position: fixed;
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 5px;
  background: #293447;
}

#cmon{
    text-align: center;
}

.game-details{
  color: #B8C6DC;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 20px 27px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.play-board{ 
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: repeat(30,1fr)/repeat(30,1fr);
  background: #212837;
}

.play-board .food{
  background: #FF003D;
}

.play-board .head{
  background: #077D;
}

.btn{
    
    font-size: 18px;
    font-weight: bold;
    background: #077D;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}

.btnn{
    
    font-size: 35px;
    font-weight: bold;
    background: #077D;
    width: 60px;
    height: 20px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin: 0;
    text-align: center;
    line-height: 1;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0, 0, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
}